{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <meta property="og:image" content="https://docs.columnar.tech/databow/assets/og.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="databow - a command-line tool for querying databases">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://docs.columnar.tech/databow/assets/og.png">
{% endblock %}
